<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insurance Management System</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	<style type="text/css">
		div.error{
			color: red;
		}
	</style>
</head>
<body>
<!-- create navigation bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Insurance Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users}">Customer Management</a>
        </li>  
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			<h1 class = "text-center">Update The Car</h1>
				<div class = "card-body">
					<form th:action="@{/users/{id}/cars/edit/{carID}(id=${user.id}, carID=${car.id})}" th:object="${car}" method="POST">
						<div class="form-group">
							<label>Car Brand</label>
							<input
							type="text"
							name="brand"
							th:field="*{brand}"
							class="form-control"
							placeholder="Enter The Car Brand"
							/>
						</div>
						
						<div class="form-group">
							<label>Car Model</label>
							<input
							type="text"
							name="model"
							th:field="*{model}"
							class="form-control"
							placeholder="Enter The Car Model"
							/>
						</div>
						
						<div class="form-group">
							<label>Engine Type</label>
							<input
							type="text"
							name="motorType"
							th:field="*{motorType}"
							class="form-control"
							placeholder="Enter The Engine Type"
							/>
						</div>
						
						<div class="form-group">
							<label>Model Year</label>
							<input
							type="text"
							name="year"
							th:field="*{year}"
							class="form-control"
							placeholder="Enter The Model Year"
							/>
							<div th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="error"></div>
						</div>
						
						<div class="form-group">
							<label>Mileage (km)</label>
							<input
							type="text"
							name="mileage"
							th:field="*{mileage}"
							class="form-control"
							placeholder="Enter The Mileage"
							/>
							<div th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}" class="error"></div>
						</div>
						
						<div class="form-group">
							<label>Current Car Price</label>
							<input
							type="text"
							name="carPrice"
							th:field="*{carPrice}"
							class="form-control"
							placeholder="Enter The Current Price"
							/>
							<div th:if="${#fields.hasErrors('carPrice')}" th:errors="*{carPrice}" class="error"></div>
						</div>
						
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				</div>
		</div>
	</div>
</div>
</body>
</html>