<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insurance Management System</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Insurance Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users}">Customer Management</a>
        </li>  
      </ul>
    </div>
  </div>
</nav>
<br>
	
	
	<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
		<h4 th:text="'Our offer is ' + ${value} + ' per year'" class="text-center"></h4>
		<br>
			<form th:action="@{/users/cars}" method="post" class="text-center">
			<a th:href="@{/users/cars/{id}/{carID}/offer/accept(id=${user.id}, carID=${car.id})}" 
			class = "btn btn-success">Accept</a>
			<a th:href="@{/users/cars/{id}/{carID}/offer/deny(id=${user.id}, carID=${car.id})}" 
			class = "btn btn-danger">Deny</a>
			</form>
		<br>
		</div>
	</div>
	</div>
	<br>
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
		<br>
			 <div th:if="${car.offerState}">
			    <h5 class="text-center" style="color: green;">You have accepted the offer.</h5>
			</div>
			<div th:unless="${car.offerState}">
			    <h5 class="text-center" style="color: red;">You have not accepted the offer.</h5>
			</div>
			<br>
		</div>
	</div>
	
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
		<br>
			<div th:if="${car.offerState==false}">
				<h5 th:text="'We can give back 20 percent of your money as '+ ${param.refund} + ' ₺'" class="text-center"></h5>
			</div>
		<br>
		</div>
	</div>
	</body>
</html>