<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insurance Management System</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Insurance Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users}">Customer Management</a>
        </li>  
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="container">
	<div class="row">
		<h1>Customer Cars List</h1>
	</div>
	<br>
	<table class="table table-striped">
		<thead>
			<tr>
				<th> Brand </th>
				<th> Model </th>
				<th> Engine Type </th>
				<th> Model Year </th>
				<th> Mileage (km) </th>
				<th> Current Car Price </th>
				<th> Actions </th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="car: ${cars}">
				<td th:text="${car.brand}"></td>
				<td th:text="${car.model}"></td>
				<td th:text="${car.motorType}"></td>
				<td th:text="${car.year}"></td>
				<td th:text="${car.mileage}"></td>
				<td th:text="${car.carPrice}"></td>
				<td>
					<a th:href="@{/users/{id}/cars/edit/{carID}(id=${user.id}, carID=${car.id})}"
					class = "btn btn-primary">Update</a>
					<a th:href="@{/users/{id}/cars/{carIdx}+{carID}(id=${user.id}, carIdx=${carStat.index}, carID=${car.id})}"
					class = "btn btn-danger">Delete</a>
					<a th:href="@{/users/{id}/cars/{carID}/traffic_insurance(id=${user.id}, carID=${car.id})}"
					class="btn btn-warning">Traffic Insurance</a>
				</td>
			</tr>
		</tbody>
		
	</table>
	
	<div class="row">
		<div class="col-lg-3">
			<a th:href="@{/users/{id}/cars/new(id=${user.id})}" class="btn btn-primary btn-sm mb-3">Add A New Car</a>
		</div>
	</div>
	

</div>

</body>
</html>